/* Full background */
.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: white;
}

/* Card container */
.login-card {
  background-color: #333333a1;
  padding: 20px;
  border-radius: 20px;
  min-width: 350px;
}

.login-card h1 {
text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  color: #5ac8fa;
}

/* Inputs and labels */
.login-card label {
  display: block;
  text-align: left;
  font-size: 0.9rem;
  margin: 10px 0 5px 5px;
}

.login-card input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.147);
}

/* Buttons */
.btn-group {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}

.btn-login{
   background-color: #5ac8fa;
  border: 0px;
  padding:5px 20px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px;
  margin-right: auto;
}

.btn-login:hover {
  background-color: #34b7f1;
}



/* Texts */
.forgot-text {
  text-align: left;
  font-size: 0.8rem;
  color: #e0e0e0;
  cursor: pointer;
}

.signup-text {
  margin-top: 15px;
  font-size: 0.85rem;
}

.signup-text span {
  color: #5ac8fa;
  cursor: pointer;
  font-weight: 500;
}
.signup-text span:hover {
  text-decoration: underline;
}

.error {
  color: #ffbaba;
  margin-top: 8px;
  font-size: 0.9rem;
}
