
.home-container {
  min-height: 100vh;
  padding: 40px 60px;
  font-family: "Poppins", sans-serif;
}


.home-container-1 {
  max-width: 1050px;
  margin: 0 auto;
}



.shops-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.shop-card {
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  background-color: #49494959;
}

.shop-card:hover {
  box-shadow: 0 10px 20px #5ac7fa56;
}


.shop-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}


.shop-card h1 {
  font-size: 1.3rem;
  color: #5ac8fa;
  margin-bottom: 10px;
  text-align: center;
}


.shop-card p {
  font-size: 0.95rem;
  color: #e8e8e8;
  margin-bottom: 6px;
}

.shop-card button{
   background-color: #5ac8fa;
  border: 0px;
  padding:5px 20px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}


