/* Page background */
.shop-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
}

/* Center white card */
.shop-container-1 {
  width: 65%;
  max-width: 1100px;
  background-color: #38383887;
  border-radius: 12px;
  padding: 40px 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.shop-card-header {
  flex: 0 0 300px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.shop-card-header img {
  width: 280px;
  height: 280px;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.shop-card-header h1 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #5ac8fa;
  text-align: center;
}

.shop-card-services {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.shop-card-services h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
}

.shop-card-services ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.shop-card-services li {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 10px;
}

.shop-card-services p {
  margin: 0;
  color: white;
  font-size: 18px;
}


.shop-card-services input[type="date"],
.shop-card-services input[type="time"] {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 3px 9px;
  font-size: 0.9rem;
  color: #333;
  outline: none;
  margin-right: 10px;
  margin-bottom: 15px;
  width: 30%;            
  min-width: 110px;       
  flex-shrink: 0;        
}


/* Book button */
.shop-card-services button {
  background-color: #5ac8fa;
  border: 0px;
  padding:5px 20px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  align-self: flex-start;
}


