.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
  background-color: #3333337e;
  color: white;
  padding: 6px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-heading {
  text-decoration: none;
  color: #5ac8fa;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-search {
  padding: 6px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 200px;
  font-size: 0.95rem;
  color: #e8e8e8;
  background-color: #333333a1;
  margin-right: 10px;
}

.navbar-location {
  padding: 6px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #333333a1;
  color: #e8e8e8;
  font-size: 0.95rem;
  cursor: pointer;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 16px;
  }

  .navbar-center {
    flex-direction: column;
  }

  .navbar-search,
  .navbar-location {
    width: 100%;
  }
}