#forms {
  height: 100vh;
  width: 100vw;
  background-color: #4b70f5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.form-elements {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 7px;
  outline: none;
  border: 0;
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
}
.innerdiv {
  margin: 5px;
}

.outerdiv {
  padding-top: 20px;
}
.heading {
  padding-top: 20px;
  text-align: center;
}
