/* Background layout */
#forms {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Card */
.form-card {
  background-color: #333333a1;
  padding: 20px;
  border-radius: 20px;
  min-width: 350px;
}

/* Title */
.heading {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  color: #5ac8fa;
}

/* Inputs */
.form-elements {
  display: block;
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  font-size: 15px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.147);
}

.innerdiv label {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* Buttons */
.register-btn{
  background-color: #5ac8fa;
  border: 0px;
  padding:9px 20px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: 10px;
}

.register-btn:hover {
  background-color: #34b7f1;
}

/* "Already have an account?" text */
.login-link {
  text-align: left;
  font-size: 0.9rem;
  margin-top: 5px;
}

.login-link span {
  color: #5ac8fa;
  cursor: pointer;
  font-weight: 500;
}

.login-link span:hover {
  text-decoration: underline;
}

/* Error message */
.error {
  color: #ffbaba;
  text-align: center;
  margin-top: 10px;
}

/* Responsive */
@media (max-width: 480px) {
  .register-card {
    width: 90%;
    padding: 30px 25px;
  }
}
